<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring Reactive Starter</title>
</head>
<body>
<table>
    <tr>
        <td>Name:</td>
        <td th:text="${authentication.name}"></td>
    </tr>
    <tr>
        <td>Authorities:</td>
        <td th:text="${authentication.authorities}"></td>
    </tr>
</table>
<form action="/logout" method="post">
    <input type="submit" value="Logout">
</form>
<hr>

<h2>Inventory Management</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.itemId}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td>
            <form method="post" th:action="@{'/add/' + ${item.itemId}}">
                <input type="submit" value="Add to Cart" />
            </form>
        </td>
        <td>
            <form th:method="delete" th:action="@{'/delete/' + ${item.itemId}}">
                <input type="submit" value="Delete" />
            </form>
        </td>
    </tr>
    </tbody>
</table>

<h2>My Cart</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cartItem : ${cart.cartItems}">
        <td th:text="${cartItem.itemId}"></td>
        <td th:text="${cartItem.name}"></td>
        <td th:text="${cartItem.quantity}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
